backend/statemachine/game.asl.json
{
  "Comment": "An example of the Amazon States Language for starting a task and waiting for a callback.",
  "QueryLanguage": "JSONata",
  "StartAt": "WaitForHost",
  "States": {
    "WaitForHost": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke.waitForTaskToken",
      "Arguments": {
        "ApiEndpoint": "${ApiEndpoint}",
        "Method": "POST",
        "AllowNullValues": true,
        "Headers": {},
        "Stage": "${Stage}",
        "Path": "{% '/@connections/' & $states.input.hostConnectionId %}",
        "QueryParameters": {},
        "RequestBody": {
          "callbackToken": "{% $states.context.Task.Token %}",
          "room": "{% $states.input.room %}",
          "hostConnId": "{% $states.input.hostConnectionId %}"
        },
        "AuthType": "IAM_ROLE"
      },
      "Next": "GenerateRoundInfo",
      "Assign": {
        "players": "{% $states.result.players %}",
        "round": 0,
        "room": "{% $states.input.room %}",
        "maxRounds": "{% $states.input.maxRounds %}"
      }
    },
    "GenerateRoundInfo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${GenerateRoundInfoFunctionArn}",
        "Payload": {
          "room": "{% $room %}",
          "round": "{% $round %}",
          "players": "{% $players %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "AwaitUploads",
      "Assign": {
        "prompt": "{% $states.result.Payload.prompt %}",
        "uploads": "{% $states.result.Payload.uploads %}"
      }
    },
    "AwaitUploads": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SendRoundInfoToPlayer",
        "States": {
          "SendRoundInfoToPlayer": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke.waitForTaskToken",
            "Arguments": {
              "ApiEndpoint": "${ApiEndpoint}",
              "Method": "POST",
              "AllowNullValues": true,
              "Headers": {},
              "Stage": "${Stage}",
              "Path": "{% '/@connections/' & $states.input.connectionId %}",
              "QueryParameters": {},
              "RequestBody": {
                "callbackToken": "{% $states.context.Task.Token %}",
                "uploadUrl": "{% $states.input.uploadUrl %}",
                "prompt": "{% $prompt %}",
                "round": "{% $round %}"
              },
              "AuthType": "IAM_ROLE"
            },
            "End": true
          }
        }
      },
      "Next": "AwaitVotes",
      "Items": "{% $uploads %}",
      "Assign": {
        "round": "{% $round + 1 %}"
      }
    },
    "AwaitVotes": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SendVoteSignal",
        "States": {
          "SendVoteSignal": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke.waitForTaskToken",
            "Arguments": {
              "ApiEndpoint": "${ApiEndpoint}",
              "Method": "POST",
              "AllowNullValues": true,
              "Headers": {},
              "Stage": "${Stage}",
              "Path": "{% '/@connections/' & $states.input.connectionId %}",
              "QueryParameters": {},
              "RequestBody": {
                "callbackToken": "{% $states.context.Task.Token %}"
              },
              "AuthType": "IAM_ROLE"
            },
            "End": true
          }
        }
      },
      "Items": "{% $uploads %}",
      "Next": "SendResultsToPlayers"
    },
    "SendResultsToPlayers": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "SendResults",
        "States": {
          "SendResults": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Arguments": {
              "ApiEndpoint": "${ApiEndpoint}",
              "Method": "POST",
              "AllowNullValues": true,
              "Headers": {},
              "Stage": "${Stage}",
              "Path": "{% '/@connections/' & $states.input.connectionId %}",
              "QueryParameters": {},
              "RequestBody": {
                "results": "{% $votes %}"
              },
              "AuthType": "IAM_ROLE"
            },
            "End": true
          }
        }
      },
      "Items": "{% $players %}",
      "Assign": {
        "votes": "{% $states.input %}"
      },
      "Next": "endGame?"
    },
    "endGame?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "EndGame",
          "Condition": "{% $round > $maxRounds %}"
        }
      ],
      "Default": "GenerateRoundInfo"
    },
    "EndGame": {
      "Type": "Pass",
      "End": true
    }
  }
}